body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
.postButtons{
    text-align: center;
    transform: translate(0,150px);
 }
 .middlebutton{
 	background: #c9b328;
 	font-weight: 700;
 	font-size: 16px;
    padding: 10px 12px;
    margin: 5px;
    cursor: pointer;
 }
 .midbtn{
 	text-decoration: none;
 	color: black;
 }	 
 .modal1 {
   display: none; 
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%;
   overflow: auto; 
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
 }
 .modal-content1 {
    transform: translate(0,130px);
   background-color: #fefefe;
   margin: 2% auto;
   padding: 8px 20px;
   border: 1px solid #888;
   width: 28%;
 }
 .modal-header1 h1 {
   text-align: center; 
   color: black;
 }
 .postbtns {
   display: flex;
   justify-content: flex-end;
 }
 .postbtn {
    margin: 0 5px;
 }
 #createpostbtn a{
    text-decoration: none;
    color: white;
 }
 #createpostbtn{
   padding:12px 7px;
   width: 100px;
   background-color:#5eb762;
   color: white;
   outline: none;
   border: none;
   cursor: pointer;
 }
 #closepostbtn{
   width: 100px; 
   padding:12px 7px;
   background-color: #f5564a;
   color: white;
   outline: none;
   border: none;
   cursor: pointer;
 }
 
